# VS Code
.vscode

# Installation packages
holo_dex.egg-info

# Pycache files
*__pycache__*

# Calibration files
calibration_files/*

# Videos
videos/*

# Model weights
model_weights/*

# Run images
deploy_runs/*

# Jupyter notebooks
notebooks/*

# Train logs and outputs
outputs/*
*outputs/*
*logs/*
*wandb/*

# Data
expert_dataset

# Test data
test_image/*
replay_data/*

.idea


venv/*
difference_grid.png
run.sh
diff.zip

*.zip
/venv/
configs/robot_camera.yaml
configs/dataset/simple_grasping/filtered.yaml
holodex/datasets/image.py
holodex/utils/converter.py
