# Added deoxys_control_research3 as a submodule
[submodule "dependencies/deoxys_control_research3"]
	path = dependencies/deoxys_control_research3
	url = https://github.com/XianyiCheng/deoxys_control_research3
[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "dependencies/hamer"]
	path = dependencies/hamer
	url = https://github.com/hwfan/hamer
[submodule "dependencies/frankapy"]
	path = dependencies/frankapy
	url = git@github.com:iamlab-cmu/frankapy.git
[submodule "dependencies/deoxys_control"]
	path = dependencies/deoxys_control
	url = git@github.com:UT-Austin-RPL/deoxys_control.git
[submodule "dependencies/oscbf"]
	path = dependencies/oscbf
	url = https://github.com/StanfordASL/oscbf.git
[submodule "dependencies/dex-retargeting"]
	path = dependencies/dex-retargeting
	url = https://github.com/real-dex-suite/dex-retargeting.git