[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "dependencies/hamer"]
	path = dependencies/hamer
	url = https://github.com/hwfan/hamer
[submodule "dependencies/frankapy"]
	path = dependencies/frankapy
	url = git@github.com:iamlab-cmu/frankapy.git
